@import "normalize";
@import "fonts";


body {
    width: 100%;
    font-family: "Quicksand-Regular", sans-serif;
    font-size: 20px;
    color: #212121;
    background-color: #fff;
    overflow-x: hidden;
}

.wrapper {    
    margin-left: auto;
    margin-right: auto;   
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between; 
    background-color: #181a18;    
}
    

.preview {    
    height: 100vh;    
    background-image: url("../img/kafenaitcof1-22.jpg");
    background-repeat: no-repeat;    
    background-size: cover;   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
}
.header {
    position: relative;  
    // height: 40vh;      
}

.logo img {
    position: absolute;
    top: 10px;
    left: 8px;    
    border: solid 15px #1a1a1a;
    border-radius: 50%;  
    background-color: #1a1a1a;      
}
.wrapper .nav-container {
    margin-top: 27px;
    display: flex;      
    align-items: center; 
    word-spacing: 1px;
    letter-spacing: 1.0px;
}
.nav ul {
    display: flex;
    align-items: center;
    margin-right: 36px;
}
nav a {
    text-decoration: none;    
    color: #ffffff;
}
.nav li {
    text-transform: capitalize;
    margin-left: 21px;
    letter-spacing: 1px;
}

.nav-container a:hover {
    color: #eec947;
}
.shopping, .search {
    width: 5px;
    display: flex;
    margin-left: -3px;
    margin-right: 35px;
    background-color: transparent;
    padding: 0px;
    border: none;
}

.kafeinate {
    padding-right: 9px;    
    display: flex;
    align-items: flex-end;
    padding-top: 24vh;   
    height: 32vh; 
}

.kafeinate .wrapperkaf {
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: flex-end;    
    margin-left: auto;
    box-sizing: border-box;   
    text-align: left;
}

.wrapperkaf h2 {
    width: 500px;
    font-family: "Economica", sans-serif;    
    text-transform: uppercase;
    font-size: 70px;
    color: #eec947;
    word-spacing: 7px;
    padding-bottom: 6px;
    margin-top: 33px;
    height: 8px;
}
.wrapperkaf h2 span {
    color: white;
}

.wrapperkaf p {    
    max-width: 516px;    
    line-height: 1.8;
    color: #fff;
    margin-top: 11px;
    margin-right: -14px;
    letter-spacing: 0.7px;
    word-spacing: 1px;    
}
.wrapperkaf button {
    background-color: transparent;
    width: 194px;
    height: 45px;
    border: solid 2px #eec947;
    color: #eec947;
    border-radius: 5px;
    letter-spacing: 2.5px;
    text-transform: capitalize;
}   
.button-order {
    width: 498px;
}

.slider-wrapper {
    position: relative;
    height: 756px;
    margin-top: 47px;
}

.swiper-pagination {
    position: absolute;
    bottom: 6%;
    left: 46%;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}


.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #ffffff;    
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 6px;     
  }
.swiper-pagination-bullet-active {    
    background-color: #e7a627;  
     
  }

// section2

.services {
    padding-top: 28px;  
    margin-bottom: 64px;     
}
.intro {
    height: 232px;    
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.intro h3 {
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: -5px;
    margin-top: 60px;
    padding-right: 14px;    
}
.intro h3 span {
    color: #edc846;
}
.intro p {
    max-width: 828px;
    text-align: center;
    line-height: 1.5;
    word-spacing: 5px;
    letter-spacing: 0.3px;    
}

.services .services-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.services-item .items{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items img {
    width: 72%;    
    border: solid 9px #e5e5e5;
    border-radius: 50%;
    background-color: #e5e5e5;
}
.items h4 {
    height: 5px;
    font-family: "Economica", sans-serif;
    margin-top: 14px;
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 15px;
}
.items p {    
    margin-bottom: 8px;
    height: 80px;
    width: 353px;
    text-align: center;
    margin-top: 3px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    word-spacing: 0.2px;
}

// section3

.wrapper-menu {
    position: relative;
    height: 105vh;    
    display: flex;
    background-color: #edc947;
}
.coffee-menu {    
    flex-basis: 354px;
    flex-grow: 5;
    background-color: black;
    justify-content: center;   
    text-align: left; 
}

aside {
    width: 130px;
    flex-grow: 3;    
    background-image: url(../img/yellowcup.png);
    background-repeat: no-repeat;    
}
aside img {
    position: absolute;
    top: 28%;
    right: -5%;
}
.buttons-menu button {
    background-color: transparent;
    width: 194px;
    height: 45px;
    border: solid 2px #eec947;
    color: #eec947;
    border-radius: 5px;
    letter-spacing: 2.5px;
    text-transform: capitalize;    
    margin-left: 15px;
    letter-spacing: 0.8px;
}
.buttons-menu .selected-button {
    background-color: #edc947;
    color: #121211;
}
.coffee-menu h3 {
    color: #edc846;
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    height: 29px;
    margin-top: 88px;
    margin-right: 60px;
}
.wrapper-menu .menu {
    width: auto;
    display: flex; 
    margin-left: 22px;  
}
.buttons-menu {
    display: flex;
    align-items: flex-end;
}
.menu-drinks {
    position: relative;
    height: 399px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #faedb8;
    margin-top: 30px;
}
.menu-drinks .structure-drinks {
    display: flex;
    flex-direction: column;
    width: 42%;
    height: 128px;
    flex-wrap: wrap;
    border-bottom: 1px solid #635957;
    border-top: 1px solid #635957;
    margin-left: 9px;
}
.structure-drinks .drinks-name {
    display: flex;
    flex-direction: column;
    width: 244px;
}
.structure-drinks .price {
    display: flex;
    flex-direction: column;
    width: 65px;
    height: 131px;    
}
.price img {
    height: 13px;
    margin-top: 26px;
    margin-right: 11px;
}
.drinks-name h4 {
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-size: 34px;    
    height: 6px;
    margin-top: 19px;
    margin-bottom: 32px;
    // margin-left: 28px;
    letter-spacing: 1.3px;
}
.drinks-name p {
    font-size: 14px;
    word-spacing: 5px;
    letter-spacing: 1.3px;
}

.price p {
    font-size: 14px;
    margin-top: 23px;    
}
.price .doll {
    font-family: "Economica", sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 1px;
    margin-top: 19px;
}
.price .likes {
    display: flex;
    justify-content: flex-end; 
      
}
.wrapper-menu .view {
    display: flex;
    position: absolute;
    right: 42%;
    bottom: 12%;
}
.view button {
    font-size: 18px;
    color: #edc846;
    text-transform: uppercase;
    border: none;
    background-color: black;
}

.view img {
    margin-top: 6px;
}

// section4

.special {
    padding-top: 32px; 
    padding-bottom: 28px;      
}
.wrapper-special {
    height: 205px;    
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.wrapper-special h3 {
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: -11px;
    margin-top: 60px;    
    letter-spacing: 1px;    
}
.wrapper-special h3 span {
    color: #edc846;
}
.wrapper-special p {
    max-width: 828px;
    text-align: center;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    margin-right: 22px;  
}

// section5

.variations-coffee {
    height: 1415px;
    width: 100%;
    padding-left: 21px;
}
.variations-coffee .coffee-beans {
    display: grid;    
    grid-template-columns: repeat(2,540px);
    grid-template-rows: repeat(3,430px); 
}
.coffee-beans div {
    width: 100%;
    // height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.coffee-beans h4 {
    font-family: "Economica", sans-serif;
    font-size: 34px;
    color: #edc846;
    text-transform: uppercase;
    padding-top: 52px;
    margin-bottom: 0px;
    width: 360px;
    letter-spacing: 0.8px;
    text-align: left;
}
.coffee-beans p {
    width: 360px;
    letter-spacing: 0.8px;
    line-height: 1.5;
}



