@import "normalize";
@import "fonts";


body {
    width: 100%;
    font-family: "Quicksand-Regular", sans-serif;
    font-size: 20px;
    color: #212121;
    background-color: #f4f4f4;
    overflow-x: hidden;
    margin: 0;
}
.header .wrapper { 
    position: relative;
    display: flex;
    justify-content: space-between; 
    background-color: #181a18;    
}   

.preview {    
    height: 100vh;  
    
    box-sizing: border-box; 
    background-image: url("../img/kafenaitcof1-22.jpg");
    background-repeat: no-repeat;    
    background-size: cover;   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
}
.header {
    position: relative;  
    // height: 40vh;      
}
.wrapper .burger-wrapper {
    display: none;
}

.logo img {
    position: absolute;
    top: 10px;
    left: 8px;    
    border: solid 15px #1a1a1a;
    border-radius: 50%;  
    background-color: #1a1a1a;      
}
.wrapper .nav-container {
    margin-top: 27px;
    display: flex;      
    align-items: center; 
    word-spacing: 1px;
    letter-spacing: 1.0px;
}
.nav ul {
    display: flex;
    align-items: center;
    margin-right: 36px;
}
nav a {
    text-decoration: none;    
    color: #ffffff;
}
.nav li {
    text-transform: capitalize;
    margin-left: 21px;
    letter-spacing: 1px;
}

.nav-container a:hover {
    color: #eec947;
}
.nav-container .shopping:hover {
    transform: scale(1.4);
    transition: 0.5s;
}
.nav-container .search:hover {
    transform: scale(1.4);
    transition: 0.5s;
}

.shopping, .search {
    width: 5px;
    display: flex;
    margin-left: -3px;
    margin-right: 35px;
    background-color: transparent;
    padding: 0px;
    border: none;
}

.kafeinate {
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;      
    display: flex;
    align-items: flex-end;
    // padding-top: 127px;   
    height: 550px;
}

.kafeinate .kafenaite-about {
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: flex-end;   
    margin-bottom: 180px;
    box-sizing: border-box;   
    text-align: left;
    margin-right: 35px;
}

.kafenaite-about h2 {
    width: 500px;
    font-family: "Economica", sans-serif;    
    text-transform: uppercase;
    font-size: 70px;
    color: #eec947;
    word-spacing: 7px;
    margin-bottom: 0;
}
.kafenaite-about h2 span {
    color: white;
}

.kafenaite-about p {    
    max-width: 516px; 
    // max-width: 47%;   
    line-height: 1.8;
    color: #fff;
    margin-top: 11px;
    margin-right: -14px;
    letter-spacing: 0.7px;
    word-spacing: 1px;    
}
.kafenaite-about button {
    background-color: transparent;
    width: 194px;
    height: 45px;
    border: solid 2px #eec947;
    
    border-radius: 5px;
    letter-spacing: 2.5px;
    text-transform: capitalize;
}   
.button-order {
    width: 498px;
}
.button-order button {
    text-decoration: none;
    color: #eec947;
    cursor: pointer;
}
.button-order button:hover {
    background-color: #eec947;
    color: #181a18;
}

.slider-wrapper {
    position: relative;
    height: 756px;
    margin-top: 47px;
    overflow: hidden;
}

.image-slider .swiper-pagination {
    position: absolute;
    bottom: 7%;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffffff; 
    opacity: 90%;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 10px;     
  }
.swiper-pagination-bullet-active {    
    background-color: #e7a627;  
  }

// section2

.services {
    // height: 763px;
    // height: 103vh;
    max-width: 1120px;
    padding: 28px 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;        
}
.intro {       
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 25px;  
}

.intro h3 {
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-size: 50px;
    text-align: center;    
    margin: 59px 0 0 0;
    // padding-top: 59px;        
}
.intro h3 span {
    color: #edc846;
}
.intro p {
    max-width: 828px;
    text-align: center;
    line-height: 1.3;
    word-spacing: 3.2px;
    letter-spacing: 0.3px;    
}

.services .services-item {    
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}
.services-item .items{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.items img {
    width: 74%;    
    border: solid 9px #e5e5e5;
    border-radius: 50%;
    background-color: #e5e5e5;
}
.items h4 {
    height: 5px;
    font-family: "Economica", sans-serif;
    // margin-top: 14px;
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    margin: 14px 0 0 0;
    // padding-top: 14px;    
}
.items p {    
    // margin-bottom: 8px;
    
    width: 353px;
    text-align: center;
    // margin-top: 3px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    word-spacing: 0.2px;
    margin: 48px 0 0 0;
    // padding-top: 48px;
}

// section3

.wrapper {
    position: relative; 
    // background-color: #edc947;
    background-color: #181a18;
    background-position: left;
    // background-color: #edc947; 
    // background-position: right;
}

.wrapper .wrapper-menu {
    // max-width: 1120px;   
    // margin-left: auto;
    // margin-right: auto;
    box-sizing: border-box;
    position: relative;     
    // height: 104vh;
    display: flex;
    // justify-content: center;
    padding-left: 110px;
    
}
.coffee-menu {    
    // flex-basis: 354px;
    // flex-grow: 1;
    background-color: #181a18;
    justify-content: center;   
    text-align: left; 
    width: 70%;
}

aside {
    // width: 130px;
    // width: 100%;
    // flex-grow: 5;   
    width: 30%; 
    background-image: url(../img/yellowcup.png);
    background-repeat: no-repeat;   
    background-color: #edc947; 
    padding-right: 50px;
    
}
aside img {    
    padding-top: 289px;
    padding-left: 17px;
    width: 100%;
}
.food__menu_beans button {
    background-color: transparent;
    width: 194px;
    height: 45px;
    border: solid 2px #eec947;
    color: #eec947;
    // outline-color:turquoise;
    // cursor: pointer;
    // transition: all 1s ease;
    border-radius: 5px;
    letter-spacing: 2.5px;
    text-transform: capitalize;    
    margin-left: 15px;
    letter-spacing: 0.8px;
}

.food__btn_active:active {
    background-color: #edc947;
    color: #121211;
}
.food__menu_beans .food__btn:hover {
    background-color: #edc947;
    color: #121211;
    border: none;
    cursor: pointer;
}
.food__menu_beans .food__btn_active {
    background-color: #edc947;
    color: #121211;
    border: none;
}
.food__btn_active:hover {
    cursor: pointer;
}
.food__menu_beans .food__btn {
    display: inline-block;
}
.food-box .active {
    display: block;
}
.food-box {
    display: none;
}

.coffee-menu h3 {
    color: #edc846;
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    height: 29px;
    margin-top: 88px;
    margin-right: 59px;
}
.wrapper-menu .food__menu {
    width: auto;
    display: flex; 
    margin-left: 21px;  
}
.food__menu_beans {
    display: flex;
    align-items: flex-end;
}
.menu-drinks {
        position: relative;
        height: 430px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: #faedb8;
        margin-top: 30px;
    }
    .menu-drinks .food-box {
            display: flex;
            flex-direction: column;
            width: 42%;
            // height: 128px;
            height: 27%;
            flex-wrap: wrap;
            border-bottom: 1px solid #635957;
            border-top: 1px solid #635957;
            margin-left: 12px;
        }
    .food-box .drinks-name {
                display: flex;
                flex-direction: column;
                max-width: 244px;
            }
    .food-box .price {
                display: flex;
                flex-direction: column;
                width: 41px;
                // height: 131px;    
            }
.hidden {
    // display: none;
    opacity: 0.4;
          
    }
   

.price img {
    height: 13px;
    margin-top: 26px;
    margin-right: 11px;
}
.drinks-name h4 {
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-size: 34px;    
    height: 6px;
    margin-top: 19px;
    margin-bottom: 32px;
    // margin-left: 28px;
    letter-spacing: 1.3px;
}
.drinks-name p {
    font-size: 14px;
    word-spacing: 5px;
    letter-spacing: 1.3px;
    max-width: 244px; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;   
}

.price p {
    font-size: 14px;
    margin-top: 23px;    
}
.price .doll {
    font-family: "Economica", sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 1px;
    margin-top: 19px;
}
.price .likes {
    display: flex;
    justify-content: flex-end; 
      
}
.wrapper-menu .view {
    display: flex;
    position: absolute;
    right: 36%;
    bottom: 7%;
}
.view button {
    font-size: 18px;
    color: #edc846;
    text-transform: uppercase;
    border: none;
    background-color: #181a18;
    cursor: pointer;
}

.view img {
    margin-top: 6px;
}

// section4

.special {
    padding-top: 40px; 
    padding-bottom: 28px;      
}
.wrapper-special {
       
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.wrapper-special h3 {
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: -11px;
    margin-top: 60px;    
    letter-spacing: 1px;    
}
.wrapper-special h3 span {
    color: #edc846;
}
.wrapper-special p {
    margin-top: 10px;
    max-width: 828px;
    text-align: center;
    line-height: 1.6;
    word-spacing: 0.5px;
    letter-spacing: 0.6px;
}

// section5

.variations-coffee {    
    width: 100%; 
    margin-bottom: 80px;   
}
.variations-coffee .coffee-beans {
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: grid;    
    // grid-template-columns: repeat(2,540px);
    // grid-template-rows: repeat(3,430px); 
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.coffee-beans div {
    // width: 100%;
    // height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #ffffff;   
}
.coffee-beans h4 {
    font-family: Economica,sans-serif;
    font-size: 34px;
    color: #edc846;
    text-transform: uppercase;    
    margin: 93px 16px 0 0;
    // width: 360px;
    letter-spacing: .8px;
    text-align: left;
    // padding-right: 16px;
}
.coffee-beans p {
    max-width: 363px;
    letter-spacing: .8px;
    line-height: 1.5;
    /* padding-right: 44px; */
    margin: 20px 0 0 0;    
}
.coffee-beans img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// section 6

.history-about {    
    background-image: url("../img/blackcoffee.jpg");
    background-repeat: no-repeat;  
    background-size: cover;  
    background-position: bottom; 
      
    // height: 444px;  
}
.history-about .arabica {
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    // height: 263px;
    // max-width: 787px;     
    display: flex;
    flex-direction: column;
    padding-top: 95px;
    padding-bottom: 100px;
    
}
.arabica h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-align: left;    
    letter-spacing: 1px;
}
.arabica p {
    width: 72%;
    color: #cbbfac;
    margin: 14px 0 0 0;
    // padding-top: 14px;
    line-height: 1.8;
    word-spacing: 0.9px;
    letter-spacing: 0.7px;
}
.arabica button {
    background-color: transparent;
    width: 197px;
    height: 45px;
    border: solid 2px #eec947;
    color: #eec947;
    border-radius: 5px;
    letter-spacing: 2.0px;
    text-transform: capitalize;
    margin-top: 25px;
}
.arabica button:hover {
    background-color: #eec947;   
}
.arabica h3 span {
    color: #edc846;
}
.arabica button a {
    text-decoration: none;
    color: #eec947;
}
.arabica button a:hover {
    background-color: #eec947;
    color: #181a18;
}

// section 7

.caffee-food {
    width: 100%;
}
.breakfast-menu {
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 73px;    
}
.breakfast-menu h3 { 
    margin: 92px 0 18px 0;     
    text-transform: uppercase;
    font-family: Economica,sans-serif;
    font-size: 50px;
    text-align: center;    
    letter-spacing: 1.3px;
}

.btns-container button {
    background-color: transparent;
    width: 194px;
    height: 45px;
    border: solid 2px #a8a9a8;
    color: #474847;
    border-radius: 5px;
    letter-spacing: 2.5px;
    text-transform: capitalize;    
    letter-spacing: .8px;
    cursor: pointer;
}

.btns-container {
    display: flex;
    justify-content: space-around;
    margin-left: 87px;
    margin-right: 81px;
    margin-bottom: 49px;
}
.btns-container .active {
    background-color: #edc947;
    color: #ffffff;
    border: none;
}
.container-box {    
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    // height: 130vh;  
    // height: 233vh;  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 25px;    
    margin: 0;
    padding-bottom: 18px;
}

.hide {
    // display: none;
    opacity: 0.3;    
}
.hide button {
    pointer-events: none;
}
.hide span {
    pointer-events: none;
}

.container-box .box-cards {
    position: relative;    
    height: 456px;
    display: grid; 
      
}
.container-box .box p {
    background-color: #1c1c1a;
    margin: 0;
    opacity: 0.7;
    color: #c3c3c3;
    text-align: center;
    font-size: 34px;
    font-family: Economica,sans-serif;
    position: absolute;
    bottom: 9%;
    width: 340px;
    letter-spacing: 0.7px;
    padding-bottom: 19px;
}
.box-button {    
    display: flex;
    margin-top: -4px;
}
.box-button button {
    background-color: #1c1c1a;
    // border: 1px solid #1c1c1a;
    width: 170px;
    height: 50px; 
    border-color: #1c1c1a;
    padding-bottom: 3px;   
}
.box-button a {
    text-decoration: none;
    color: #c3c3c3;
}
.box-button button:hover {
    background-color: #ebbf45;
    color: #312b17;
    border: none;
}
.box-button a:hover {
    text-decoration: none;
    color: #312b17;
}
.box-cards img {
    opacity: .9;
    width: 341px;
    height: 414px;
}

.box-cards span {
    height: 52px;
    width: 65px;
    border-radius: 50%;
    color: #231919;
    background-color: #edc947;
    position: absolute;
    top: 68%;
    left: 2%;
    text-align: center;
    font-size: 32px;
    padding-top: 13px;
}
.box-cards span:hover {
    transform: scale(1.3);
    transition: 0.4s;
}
.breakfast-menu .view {
    display: flex;
    justify-content: flex-end;
    padding-top: 48px;     
}
.breakfast-menu .view button {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

// section 8

.swiper-cont {
    background-image: url("../img/yellowcoffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;    
}
.swiper-cont .reviews {        
    // background-image: url("../img/yellowcoffee.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 96vh;
    // height: 104vh;
    position: relative;
}
// .swiper-cont .swiper-container-autoheight {
//     height: 97vh;
// }
// .swiper-cont .swiper-container-autoheight .swiper-slide {
//     height: 97vh;
// }
.reviews .visitors {
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    // height: 96vh;    
    
}
.visitors h3 {
    text-transform: uppercase;
    font-family: "Economica", sans-serif;
    font-size: 50px;
    text-align: center;
    // margin-top: 91px;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}

.visitors h3 span {
    color: #fefefe;
}

.visitors .visitor-name {
    width: 16%;
    border-radius: 50%;
    background-color: #f1e4b7;    
    box-shadow: 0 0 0 7px #efd67b, 0 0 0 10px #efd67b;
    border: solid 10px #f1e4b7;
}
.visitors h5 {
    font-family: "Economica-Bold", sans-serif;    
    font-size: 20px;
    text-transform: uppercase;    
    letter-spacing: 0.6px;
    letter-spacing: 0.6px;
    word-spacing: 0px;
    margin: 0;
    margin-top: 50px;
    
}
.visitors .review-card p {
    text-align: center;
    max-width: 771px;
    line-height: 1.9;
    word-spacing: 0.3px;
    letter-spacing: 1.0px;
    padding-top: 15px;
    padding-bottom: 23px;
}
.quotes-left {
    width: 32px;
    height: 24px;
    // position: absolute;
    // left: 22%;
    // top: 24%;
}

.quotes-right {
    width: 30px;
    height: 25px;
    margin-top: 95px;
    margin-left: -87px;
    // position: absolute;
    // right: 28%;
    // top: 36%;
}

.review-card {
    display: flex;
    justify-content: center;    
}
.visitors p {
    letter-spacing: 0.9px;
    margin: 6px 0 0 0;
    // padding-top: 6px;
    margin-bottom: 23px;
}
.swiper-cont .swiper-pagination {
    position: absolute;    
    bottom: 4%;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.swiper-cont .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #e7a627;  
    color: #e7a627;  
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 10px;     
  }
.swiper-cont .swiper-pagination-bullet-active {    
    background-color: #ffffff;      
  }

//   section 9

.about {    
    margin-top: 80px;
}
.about h3 {
    font-family: "Economica", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #121211;
    text-align: center;
    margin: 8px 0 0 0;
    // padding-top: 8px;
}
.about .contacts {
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;     
    display: flex; 
    margin-bottom: 102px;   
}
.contacts .adress {
    width: 48%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.contacts .public {
    width: 50%;
}
.adress .adress-line {
    display: flex;
    justify-content: start;

}
.adress-line p {
    margin-left: 16px;
    // margin-top: 8px;
    letter-spacing: 1.1px;
}
.adress-line a {
    // margin-bottom: 18px;
}
.adress-line a img {
    margin-top: 15px;
}
.adress-line a:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.about .public {
    display: flex;
    flex-direction: column;
}
.anketa {
    margin-top: 40px;
    margin-left: 11px;
}
.name-mail {
    display: flex;
    width: 571px;
}

.name-mail input {
    border: none;
    background-color: #e7e7e7;
    color: #bcbcbc;
    width: 260px;
    height: 41px;
    margin-right: 24px;
    padding-left: 10px;
}
.colortext {
    color: #bcbcbc;
}

.teamwork select {
    border: none;
    width: 548px;
    background-color: #e7e7e7;
    color: #5f5e5e;
    height: 40px;
    margin-top: 20px;
    padding-left: 5px;
}
.message-area {
    margin-top: 20px;  
    width: 545px;  
}
textarea {
    border: none;
    background-color: #e7e7e7;
    resize: none;
    padding-left: 8px;
    max-width: 99%;
}
.send input {
    height: 41px;
    margin-top: 9px;
    width: 550px;
    border-radius: 5px;
    border: none;
    background-color: #edc947;    
    cursor: pointer;
}

// section 10

.feedback {
    background-image: url("../img/kafenaitcof1-22.jpg");
    background-position: bottom;
    background-size: cover;
    opacity: 86%;
}
.subscription {
    // max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    // margin-left: auto;
    // margin-right: auto;
    box-sizing: border-box;    
    position: relative;
    padding-bottom: 104px;
    background-image: url("../img/Shape28.png");
    // opacity: 85%;
    margin-left: 0;
}
.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscription .arrow-up {
    background-color: #303030;
    border: solid 10px #303030;    
}
.little-logo {
    margin-top: 97px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.booking p {
    text-align: center;
    max-width: 903px;
    color: #ffffff;
    letter-spacing: 1.3px;
    line-height: 1.5;
    word-spacing: 0.4px;
}
.booking input {
    margin-top: 6px;
    width: 560px;
    padding-left: 18px;
    height: 32px;
    background-color: #090909;
    color: #ffffff;
    border: none;     
}
.booking input[type="email"]::placeholder { 
    color: #ffffff;    
   }
.input-group-btn {
    position: relative;
}
.input-group-btn button {
    position: absolute;
    right: 4px;
    bottom: 2px;
    background: #090909;
    border: none;
    color: #ffffff;
    cursor: pointer;
 }
 .arrow-up {
    position: absolute;
    right: 10%;
    bottom: 16%;    
 }

//  footer___

 footer {     
     background-color: #ebbf45;     
 }
 .design {    
    max-width: 1120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }
 .design p {
     color: #ffffff;
     font-size: 14px;
     padding-left: 30px;
     padding-top: 8px;
     letter-spacing: 1.1px;
 }
 .social img {
    margin-right: 15px;
 }
 .social a img:hover {
     transform: scale(1.4);
     transition: 0.7s;
 }


 @media all and (max-width: 1100px) {
     aside {
         display: none;
     }
     .coffee-menu {
         width: 100%;
     }
     .wrapper-menu .food__menu {
         justify-content: center;
         margin-left: 0;
     }
     .food__menu_beans button {
         margin-left: 28px;
     }
     .wrapper-menu .view {
         right: 8%;
         bottom: 9%;
     }
     .btns-container button {
         margin-left: 20px;
     }
 }
     
// mobile__________________________

 @media all and (max-width: 780px) {
    .container-box {      
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);  
          
    }
    .coffee-menu {
        width: 100%;
    }
    
.coffee-menu h3 {
    height: 0;
    margin: 25px 0 70px 0;
}
    .services .services-item {
        margin-bottom: 20px;
    }
    .intro h3 {
        margin: 0;
    }
    .wrapper .wrapper-menu {
        background-color: transparent;
        padding-left: 10px;
    }
    .breakfast-menu .view {
        display: none;
    }   
    .breakfast-menu h3 {
        margin-top: 32px;
    }
    .wrapper-menu .view {
        right: 10%;
    }
    .special {
        padding: 0px;
    }    
    .items p {
        width: 30%;
    }
    aside {
        display: none;
    }
    .coffee-beans h4 {
        margin: 35px 16px 0 0;
    }
    .btns-container {
        margin: 0 0 45px 0;
    }
    .btns-container button {
        width: 173px;
        height: 50px;
        margin: 5px;
    }    
    .coffee-beans p {
        margin: 20px;
    }
    .review-card img {
        display: none;
    }
    .about .contacts {
        display: flex;   
        flex-direction: column; 
        margin-bottom: 30px;
    }
    .breakfast-menu {
        margin-bottom: 20px;
    }
    .variations-coffee {
        margin-bottom: 27px;
    }
    .history-about .arabica {
        padding-top: 22px;
        padding-bottom: 34px;
    }
    .wrapper-special h3 {
        margin-top: 30px;
    }
    .about {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }   
    .little-logo {
        margin-top: 35px;
    }
    .swiper-cont .swiper-pagination {
        position: absolute;
        bottom: 8%;        
    }
    .arrow-up {
        bottom: 9%;
    }
}

    
    @media all and (max-width: 431px) {
        p {
            font-size: 16px;
        }
        
        .header .wrapper {
            position: relative;
        }
        .preview {
            height: 80vh;
        }
        .hamburger-menu {
            display: contents;
            position: relative;
        }
        .nav-container .nav {
            display: none;
        }

    #menu__toggle {
            opacity: 0;
          }

          .wrapper .burger-wrapper {     
            display: block;   
            margin: auto;
            width: 430px;
            background-color: transparent;
            position: relative;
            color: #fff;
            text-align: center;
            height: 47px; 
            z-index: 10;       
        }
        #check-menu {
            display: none;
        }
        .burger-wrapper label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 10;
            line-height: 40px;
           
        }
        .burger-wrapper .burger-line {
            position: absolute;
            top: 12px;
            right: 10px;
            width: 36px;
            height: 2px;
            background-color: #fff;
            transition: .5s all;
        }
        .burger-wrapper .second {
            top: 22px;
        }
        .burger-wrapper .third {
            top: 22px;
        }
        .burger-wrapper .fourth {
            top: 34px;
        }
       
        .burger-wrapper .main-menu {
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            max-height: 0;
            font-size: 0;
            overflow: hidden;
            transition: .5s all;
            cursor: pointer;
        }
        .burger-wrapper .main-menu a {
            display: block;
            width: 100%;
            padding: 6px;
            color: #fff;
            text-decoration: none;
            border-top: 1px solid #3f3f3f;
            background-color: #000;
            text-transform: uppercase;
        }
        #check-menu:checked ~ .main-menu {
            max-height: 500px;
            font-size: 16px; 
        }
        #check-menu:checked ~ .first {
            display: none;
        }
        #check-menu:checked ~ .second {
            transform: rotate(45deg);
        }
        #check-menu:checked ~ .third {
            transform: rotate(-45deg);
        }
        #check-menu:checked ~ .fourth {
            display: none;
        }  
          
    // .hamburger-menu .menu__btn {
    //         display: flex; 
    //         align-items: flex-end; 
    //         position: absolute;                       
    //         top: 10px;
    //         right: 50px;
    //         width: 26px;
    //         height: 26px;
    //         cursor: pointer;
    //         z-index: 1;
    //       }
    // .hamburger-menu .menu__btn > span,
    // .hamburger-menu .menu__btn > span::before,
    // .hamburger-menu .menu__btn > span::after {
    //     display: block;
    //     position: absolute;
    //     width: 100%;
    //     height: 2px;
    //     background-color: #edc947;
    // }
    // .hamburger-menu .menu__btn > span::before {
    //     content: '';
    //     top: -8px;
    // }
    // .hamburger-menu .menu__btn > span::after {
    //     content: '';
    //     top: 8px;
    // }
    // .menu__box {
    //     display: block;
    //     position: fixed;
    //     visibility: hidden;
    //     top: 0;
    //     // left: -100%;
    //     width: 46%;
    //     height: 30%;
    //     margin: 0;
    //     padding: 50px 0 15px 0;
    //     list-style: none;
    //     text-align: center;
    //     background-color: #acadb4;
    //     box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    //   }
    //   .menu__item {
    //     display: block;
    //     padding: 6px 24px;
    //     color: #333;
    //     font-family: 'Roboto', sans-serif;
    //     font-size: 20px;
    //     font-weight: 600;
    //     text-decoration: none;
    //   }
    //   .menu__item:hover {
    //     background-color: #CFD8DC;
    //   }
    //   #menu__toggle:checked ~ .menu__btn > span {
    //     transform: rotate(45deg);
    //   }
    //   #menu__toggle:checked ~ .menu__btn > span::before {
    //     top: 0;
    //     transform: rotate(0);
    //   }
    //   #menu__toggle:checked ~ .menu__btn > span::after {
    //     top: 0;
    //     transform: rotate(90deg);
    //   }
    //   #menu__toggle:checked ~ .menu__box {
    //     visibility: visible;
    //     left: 54%;
    //   }
      .food__menu_beans {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 20px;
      }
      .food__menu_beans button {
          margin-bottom: 8px;
          margin-left: 0;
          width: 100%;
          margin-right: 10px;
      }
      .wrapper-menu .food__menu {
          justify-content: center;
        //   margin-left: 83px;
      }
      .menu-drinks .food-box {
          width: 90%;
          margin-right: 0;
      }

    
       .header .wrapper {
           opacity: 0.8;
       }
       .shopping, .search {
           display: none;
       }
       .kafeinate {
        height: auto;
        margin-top: 115px;
       }
        .kafenaite-about {
            font-size: 14px;
        }
        .kafeinate .kafenaite-about {
            width: 100%;
            padding-right: 30px;
            margin: 0;
        }
        .kafenaite-about h2 {
            font-size: 30px;
            max-width: 195px;
            margin-top: 0;
        }
        .kafenaite-about p {
            max-width: 207px;   
            line-height: 1.3;   
        }
        .button-order {
            width: 195px;
        }
        .kafenaite-about button {
            width: 143px;
            height: 33px;
        }
        
        .button-order button {
            font-size: 16px;            
        }
        .services {
            padding: 15px;
        }
        
        .services .services-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        .container-box {             
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,1fr); 
            // height: 437vh;       
        }
        
        .arabica p {
            width: 97%;
            color: #cbbfac;
            margin: 8px 0 0 0;
            text-align: justify;
            line-height: 1.4;
            word-spacing: 0;
            letter-spacing: 0;
        }
        .arabica h3 {
            font-size: 34px;
            text-align: center;
        }
        
        .wrapper .wrapper-menu {
            display: flex;
            flex-direction: column;            
            padding-left: 0;
        }
        
        .wrapper-special h3 {
            font-size: 34px;
            margin-top: 25px;
            margin-bottom: 0;
        }
        .wrapper-special p {
            font-size: 17px;
            text-align: center;
        }
        .wrapper-menu .menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;  
        }
        .menu-drinks {
            flex-wrap: inherit;
            height: auto;
            margin-bottom: 0;
        }
        .buttons-menu button {
            width: 100%;
            margin-right: 15px;
        }
        .services-item .items {
            width: 100%;
        }
        .intro {
            margin-bottom: 0;
        }
        
        .intro p {
            text-align: center;                 
        }
        .intro h3 {
            margin: 20px 0 0 0;
            font-size: 34px;
        }
        .items h4 {
            font-size: 24px;
            margin: 10px 0 0 0;
        }
        .menu-drinks .structure-drinks {            
            width: 100%;            
            border: none;
            margin-left: 12px;
        }
        .menu-drinks .box {
            width: 93%;
        }
        .coffee-menu .view {
            display: none;
        }
        
        .logo img {
            width: 28%;
            position: absolute;
            top: 0px;
            left: 8px;
        }
        
        .items img {
            display: none;
        }
        .items p {
            width: 100%;
            margin: 34px 0 0 0;  
        }
        .variations-coffee .coffee-beans {
            display: grid;             
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,1fr);            
        }
        .coffee-beans .bean-box1 {
            display: none;
        }
        .coffee-beans .bean-box4 {
            display: none;
        }
        .coffee-beans .bean-box5 {
            display: none;
        }
        .coffee-beans img {
            display: none;
        }
        .coffee-beans h4 {
            margin-top: 5px;
            font-size: 24px;
        }
        .coffee-beans div {
            width: 100%;
            height: 100%;
        }
        .coffee-beans p {
            font-size: 16px;
        }
        
        .coffee-menu {    
            width: 100%;
            background-color: black;
            justify-content: center;   
            text-align: left; 
            padding-right: 0;
        }
        .coffee-menu h3 {
            margin-right: 0;
            margin-top: 10px;
            font-size: 44px;
        }
        .variations-coffee {
            margin-bottom: 40px;
        }
        .history-about .arabica {
            padding-top: 32px;
            padding-bottom: 25px;
        }
        .arabica button {
            margin-left: 100px;
        }
        .about .contacts {
            margin-bottom: 25px;
        }
        .btns-container {
            margin: 0 0 25px 0;
            display: flex;
            flex-direction: column;            
        }
        
        .breakfast-menu h3 {
            font-size: 33px;
            margin-top: 40px;
            // height: 15px;
        }
        .btns-container button {
            font-size: 16px;
            width: 93%;
            margin-left: 15px;
            margin-bottom: 8px;
        }
        
        .breakfast-menu .view {
            display: none;
        }
        .breakfast-menu {
            margin-bottom: 25px;
        }
        .contacts .adress {
            width: 100%;
            padding-top: 0;
        }
        .about .public {
            width: 100%;
        }
        .visitors h3 {
            margin-top: 0px;
            font-size: 34px;
        }
        
        .visitors .review-card p {
            font-size: 16px;
            padding: 0;
            line-height: 1.4;
        }
        .adress-line p {
            margin: 24px 0 0 16px;
        }
        .name-mail {
            flex-direction: column;
            width: 97%;
        }
        .name-mail input {
            width: 100%;
            margin-bottom: 18px;
            margin-right: 0;
            padding: 0 0 0 10px;
            font-size: 18px;
        }
        .teamwork select {
            width: 100%;
            margin-top: 0;
            font-size: 18px;
        }
        .anketa {
            margin-top: 20px;
            margin-left: 0;
        }
        .message-area, textarea {
            width: 99%;
            height: 100px;
            margin-bottom: 18px;
            font-size: 18px;
        }
        .send input {
            width: 100%;
            margin-top: 7px;
        }
        
        .about h3 {
            font-size: 34px;
        }
        .little-logo {
            margin-top: 18px;
        }
        .booking p {
            font-size: 16px;
            line-height: 1.3;
        }
                
        .booking input {
            width: 275px;
            font-size: 18px;
        }
        .design p {
            padding-left: 0; 
            padding-top: 0;    
            font-size: 10px;
        }
        .social img {
            width: 18%;
            margin-right: 0;
        }
        .social {
            width: 40%;
        }
        .social a {
            margin-left: 4px;
        }
        .box-cards img {
            width: 100%;
        }
        .container-box .box p {
            width: 100%;
        }
        .box-button button {
            width: 100%;
        }
        .food-box .drinks-name {
            margin-right: 0;
        }
        .subscription .arrow-up {
            border: solid 6px #303030;
        }
    }

    @media all and (max-width: 321px) {

        .preview {
            height: 76vh;
        }
        .hamburger-menu .menu__btn {            
            right: 9%;      
            
        }
        #menu__toggle:checked~.menu__box {
            left: 54%;
        }
        .burger-wrapper .main-menu a {
            padding: 4px;
        }
        
        .menu__box {
            padding: 40px 0;
            height: 24%;
        }
        .services {
            padding-top: 0;
        }
        .services .services-item {
            margin: 0;
        }
        .slider-wrapper {
            height: 75vh;
        }
        .wrapper {
            padding-bottom: 0;
        }
        .wrapper-menu .food__menu {
            // margin-left: 49px;
        }
        .burger-wrapper .burger-line {
            width: 30px;
        }
        .button-order {
            width: 75%;
            margin-top: 14px;
        }
        .kafeinate .kafenaite-about {
            margin-bottom: 0;
            margin-top: 28px;
           
        }
        .kafenaite-about h2 {
            width: 75%;
        }
        .kafenaite-about p {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
        .kafeinate {            
            margin-top: 80px;
        }
        .intro p {
            // padding-left: 21px;
            font-size: 17px;            
        }
        .items h4 {
            margin: 0;
        }
        .btns-container {
            display: flex;
            flex-direction: column;
            margin-top: 15px;   
            margin-left: 0;
            margin-right: 0; 
            align-items: center;         
        }
        .btns-container button {
            margin-left: 0;
        }
        
        .image-slider .swiper-pagination {
            bottom: 39%;
        }
        .menu-drinks .box {
            width: 94%;
        }
       
        
        .image-slider .swiper-pagination {
            bottom: 12%;
        }
        .intro h3 {
            font-size: 34px;
            padding-top: 0;
        }
        
        .items p {
            font-size: 16px;           
            margin-bottom: 9px;
        }
        
        .wrapper-menu .menu {
            margin-left: 0;
        }
        .structure-drinks .price {
            margin-right: 15px;
        }
        .coffee-menu h3 {
            margin-top: 20px;
            margin-right: 0;
        }
        .buttons-menu button {
            font-size: 16px;
            height: 43px;
            margin-left: 8px;
        }
        // .wrapper-special p {
        //     padding-left: 15px;
        // }
        
        .coffee-beans div {
            align-items: flex-start;
        }
        .coffee-beans p {
            padding-right: 0;
            width: 96%;
            margin: 5px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-align: center;
        }
        .coffee-beans h4 {
            width: 100%;
            padding: 0;
            text-align: center;
        }
        
        // .arabica h3 {
        //     font-size: 34px;
        //     text-align: center;
        // }
        .arabica button {
            margin-left: 62px;
        }
        .arabica p {
            padding-left: 14px;
        }
        .history-about .arabica {
            padding-top: 0;
            padding-left: 0;            
        }
        
        .breakfast-menu {
            padding-left: 0;
            padding-right: 0;
        }
        .breakfast-menu h3 {
            font-size: 28px;
            margin-top: 30px;
        }
        .box-cards img {
            width: 320px;
        }
        .container-box .box p {
            width: 319px;
        }
        .container-box {
            padding-left: 0;
            padding-right: 0;
            // height: 423vh;
        }
        .swiper-cont .swiper-pagination {
            bottom: 5%;
        }
        .about h3 {
            font-size: 28px;
        }
        .visitors h5 {
            font-size: 18px;
            margin-top: 30px;
        }
        .visitors .visitor-name {
            width: 25%;
        }
        
        .social img {
            // margin-right: 3px;
        }
        .social {
            width: 40%;
        }
        .name-mail {
            margin-top: 15px;
        }
        .booking input[type="email"]::placeholder { 
            font-size: 16px;    
        }
        .arrow-up {
            bottom: 8%;
         }
         .subscription .arrow-up {
            border: solid 4px #303030;
         }
         .about .contacts {
             margin-bottom: 10px;
         }
         .box-button button {
             width: 160px;
         }
         .teamwork select {
             margin-top: 0;
             width: 101%;
         }
         .send input {            
            margin-bottom: 10px;
            width: 102%;
        }
         .anketa {
            margin-top: 0;
            margin-left: 0;
         }
         .contacts .adress {
             padding-top: 0;
         }
         
    }


    
    
   
 































